<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
HELLO
<form action="/login" method="post">
        <tr>
            <th>用户名：</th>
            <td><input type="text" name="name"/>
            </td>
            <th>密码：</th>
            <td><input type="password" name="password"/>
            </td>
            <td><input type="submit" value="登录"/></td>
        </tr>
</form>
</body>
</html>